#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

UBUNTU = $(shell dpkg-vendor --derives-from Ubuntu && echo yes)

%:
	dh $@

override_dh_link:
	#Symlinks to libfm apport hook only on Ubuntu, until apport call it automaticly.
ifeq ($(UBUNTU),"yes")
	dh_link -ppcmanfm usr/share/apport/package-hooks/source_libfm.py usr/share/apport/package-hooks/source_pcmanfm.py
endif

override_dh_auto_test:
        # Disable: failed in libtool version mismatch.

override_dh_strip:
	dh_strip --dbg-package=pcmanfm-dbg
